<div class="navbar">
	<nav class="nav__mobile"></nav>
	<div class="container">
		<div class="navbar__inner">
			<a href="/" style="display: flex; align-items: center;" class="navbar__logo"><img height="42px" src="~/images/logo.svg">TrainTracker</a>
			<nav class="navbar__menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/Dashboard">Dashboard</a></li>
				</ul>
			</nav>
			<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						<path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
						 class=""></path>
					</svg></a></div>
		</div>
	</div>
</div>
<!-- Page content -->
<div class="app app-custom">
	<div class="container-dashboard">
		<div class="app__inner" style="width: 100%;">
			<div class="app__menu">
				<div class="vMenu vMenuTop">
					<li><a href="#" class="vMenu--active">Active page</a></li>
				</div>
				<ul class="vMenu vMenuCustom">
					<li><a href="#" class="vMenu--active">Active page</a></li>
					<li><a href="#">Second page</a></li>
					<li><a href="#">Third page</a></li>
					<li><a href="#">Fourth page</a></li>
					<li><a href="#">Fifth page</a></li>
				</ul>
			</div>
			<div class="app__main">
				<div class="vMenu vMenuTop" style="width: 100%;">
					<li><a href="#" class="vMenu--active">Active page</a></li>
				</div>
				<img id="myimage" src="~/images/test.png" style="width:100%; height:auto; margin-top: 15px;">
			</div>
		</div>
	</div>
</div>